<footer class="footer">

 <div class="social-wrap">
   <div class="wrapper">
     <div class="row">
        <div class="col">
          <ul class="footer-social-list">
            {% if site.facebook_username %}
             <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
               <i class="fa fa-facebook"></i><span>Facebook</span>
             </a></li>
             {% endif %}
             <li><a href="mailto:contact@ensemble-app.fr" target="_blank">
               <i class="fa fa-envelope"></i><span>Contact</span>
             </a></li>
             <!-- <li><a href="#">
                 <i class="fa fa-twitter"></i><span>Twitter</span>
             </a></li>
             <li><a href="#">
                 <i class="fa fa-pinterest"></i><span>Pinterest</span>
             </a></li>
             <li><a href="#">
                 <i class="fa fa-instagram"></i><span>Instagram</span>
             </a></li>
             <li><a href="#">
                 <i class="fa fa-dribbble"></i><span>Dribbble</span>
             </a></li> -->
          </ul>
        </div>
        <div class="col">
          <p> Un projet de <a href="http://www.project-mirador.org/" target="_blank">
            Mirador</a>
          </p>
        </div>
     </div>
   </div> <!-- /row -->
 </div> <!-- /social-wrap -->

<!--
 <div class="back-to-top">
   <a href="#top" class="smoothscroll"><span>Back to Top</span></a>
 </div> -->

</footer>

<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
