/* ===================================================================
 * General
 *
 * ------------------------------------------------------------------- */

 body {
   height: 100vh;
  @include vendor('display', 'flex');
  @include vendor('flex-flow', 'column nowrap');
  main {
    @include vendor('flex', '1 1 auto');
  }
 }

 .row {
   @include vendor('display', 'flex');
   @include vendor('flex-flow', 'row wrap');
   @include vendor('justify-content', 'space-between');
   @include vendor('align-items', 'center');
   .col {
     @include vendor('flex', '0 0 auto');
   }
 }
/* ===================================================================
 * Header
 *
 * ------------------------------------------------------------------- */

.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  // min-height: $spacing-unit * 1.865;
  // height: 100px;
  // Positioning context for the mobile navigation icon
  position: relative;
  .logo img{
    height: 100px;
  }
}


// 
// .site-nav {
//   float: right;
//   line-height: $base-line-height * $base-font-size * 2.25;
//
//   .nav-trigger {
//       display: none;
//   }
//
//   .menu-icon {
//     display: none;
//   }
//
//   .page-link {
//     color: $text-color;
//     line-height: $base-line-height;
//
//     // Gaps between nav items, but not on the last one
//     &:not(:last-child) {
//       margin-right: 20px;
//     }
//   }
//
//   @include media-query($on-smartphone) {
//     position: absolute;
//     top: 9px;
//     right: $spacing-unit / 2;
//     background-color: $background-color;
//     border: 1px solid $grey-color-light;
//     border-radius: 5px;
//     text-align: right;
//
//     label[for="nav-trigger"] {
//       display: block;
//       float: right;
//       width: 36px;
//       height: 36px;
//       z-index: 2;
//       cursor: pointer;
//     }
//
//     .menu-icon {
//       display: block;
//       float: right;
//       width: 36px;
//       height: 26px;
//       line-height: 0;
//       padding-top: 10px;
//       text-align: center;
//
//       > svg path {
//         fill: $grey-color-dark;
//       }
//     }
//
//     input ~ .trigger {
//       clear: both;
//       display: none;
//     }
//
//     input:checked ~ .trigger {
//       display: block;
//       padding-bottom: 5px;
//     }
//
//     .page-link {
//       display: block;
//       padding: 5px 10px;
//
//       &:not(:last-child) {
//         margin-right: 0;
//       }
//       margin-left: 20px;
//     }
//   }
// }
//

/* ===================================================================
 * Section
 *
 * ------------------------------------------------------------------- */

section {
  margin-bottom: 3rem;

}



/* ===================================================================
 * Footer
 *
 * ------------------------------------------------------------------- */

.footer {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-size: 80%;
  &:before {
    content: '';
    display: block;
    background: $brand-color;
    height: 2px;
    width: 30%;
    margin: 3px auto;
  }
  @include media-query($on-smartphone){
    .col {
      @include vendor('flex', '1 0 auto');
    }
  }
}

.footer-social-list {
  @include vendor('display', 'flex');
  @include vendor('justify-content', 'center');
  li a {
    padding: 1rem 1.5rem;
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');

  }
  li i {
    display: block;
    font-size: 1.4rem;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
